/* App.css */
body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

/* App.css */

.outer-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #dfe3ea; /* lighter than the login box */
  padding: 20px;
}

.inner-wrapper {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
